h1 {
    margin-left: 1%;
}

h2 {
    margin-left: 1%;
}

p {
    text-indent: 2em;
}

img {
    margin-left: 1%;
}

table {
    width: 100%;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    display: flex;
    align-items: flex-start;
}

.nav {
    background-color: #2F4F4F;
    padding: 5px;
}

.nav #nav-url {
    float: right;
}

.nav #nav-url li {
    float: left;
    color: black;
    padding-right: 10px;
}

.nav #nav-url li a {
    color: white;
    padding-right: 10px;
    line-height: 60px;
}

.articles {
    flex-shrink: 0;
    width: calc(100% - 380px);
}

.article {
    padding: 16px;
    background-color: white;
    margin-top: 15px;
    border-style: outset;
    margin-right: 15px;
}

.images {
    padding: 16px;
    background-color: white;
    margin-top: 15px;
    border-style: outset;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.images .image {
    width: 120px;
    height: 120px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    margin-top: 60px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}

.images .image img {
    position: relative;
    top: 5px;
}

.register {
    flex-shrink: 0;
    width: 350px;
    background-color: white;
    border-style: outset;
    margin-top: 15px;
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.register .register-message {
    flex-shrink: 0;
}

.register .register-message .register-tip {
    text-align: right;
    position: relative;
    right: 10px;
}

#submit-register-message {
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(44, 125, 247);
    color: white;
    margin-bottom: 10px;
}